.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
[Bb]in/
[Oo]bj/

*.nupkg
packages/

_ReSharper*/
*.DotSettings.user

.idea/

Thumbs.db
ehthumbs.db

*.psess
*.vsp
*.vspx
*.sap

.vscode/

*.log
